.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker-wrapper {
  width: 100% !important;
}

#datePicker {
  width: 100% !important;
}

#dashboard {
  background-color: #1d4F91 !important;
}

#leaderboard {
  background-color: #1d4F91 !important;
}

.piecharts {
  width: 100% !important;
  background-color: #283347 !important;
}

.stats {
  width: 27.5% !important;
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.leaderboard {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.kpi {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.area {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.vrsArea {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.scatterPlot {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.bubblePlot {
  background-color: #283347 !important;
  color: #81b0d2 !important;
}

.filterLabels {
  color: #81b0d2 !important;
}

.highlight-row {
  font-weight: bolder;
}

#dtRange {
  height: 44px !important;
  /* vertical-align: -webkit-baseline-middle !important; */
}

